* {
  box-sizing: border-box;
  font-family: Montserrat;
}


:root {
  --bg-color: #F7DD82;
  --link-color: #FFBFB2;
  --link-hover-color: #B7E8D8;
  --color-4: #C4AED7;
  --color-5: #000;

  --primary-font: 'Montserrat';
  --secondary-font: 'Montserrat';
  --main-text-color: #000;

  --white-space: 1rem;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
  font-weight: 400;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2*var(--white-space));
  text-align: center;
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
  height: 20rem;
  font-family: Montserrat;
  padding: 6rem 0rem 6rem 0rem;
}

.header-wrapper h1 {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
}

.header-wrapper h2 {
  font-size: 1rem;
  color: white;
  font-weight: 400;
}

.header-wrapper h3 {
  font-size: 1.2rem;
}

.header-wrapper h4 {
  font-size: 0.8rem;
  margin: var(--white-space) 0;
}

main {
  padding: calc(2*var(--white-space));
}

section {
  margin-bottom: calc(2*var(--white-space));
}

.recipes {
  font-family: var(--primary-font);
  font-size: 1.3rem;
  color: #777;
  margin: .5rem 0;
}

.recipes img{
    width: 70%
}

.recipe-name{
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem 0;
    color: #C4AED7;
}

.country{
    padding: 0.5rem 0;
}

.difficulty{
    padding: 0.5rem 0; 
    font-size: 1rem;
    font-weight: 200;
}

.popularity{
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 200;
}

.short-description{
    font-weight: 200;
    font-size: 1rem;
    padding: 0.5rem 0;
}
button {
  padding: 0.5rem 2rem 0.5rem 2rem;
  background: var(--link-color);
  text-align: center;
  text-decoration: none;
  font: bold 1.25em/1 'Montserrat';
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
  border-style: hidden;
}


button:focus,
button:active,
button:focus-within {
  outline: 0;
}

button:hover {
  background-color: var(--link-hover-color);
  /*opacity: 0.5;*/
}

button:active {
  background-color: var(--bg-color);
}


a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: 350;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: var(--link-hover-color);
}


@media (min-width:800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

@media (min-width:900px) {
  .adjectives ul {
    flex-direction: row;
  }
}

/* The Modal (background) */
.modal img{
    width: 70%;   
}
modal strong {
  font-weight: bold;
}
.modal-name{
        text-transform: uppercase;
        font-weight: bold;
        color: #C4AED7;
}
.time{
        font-weight: 200;
        font-size: 1rem;
}
.ingredients{
        font-weight: 200;
        font-size: 1rem;
}
.ingredients li{
        font-weight: 200;
        font-size: 1rem;
}
.instructions{
         font-weight: 200;
        font-size: 1rem;
}

    .modal-content button{
        margin: 0rem 13rem 0rem 13rem
    }

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  text-align: left;
  line-height: 1.5rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}